<section class="relative h-screen w-screen overflow-hidden text-center">

  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-white pt-48 text-5xl">Experience Tesla</h2>
      <p class="text-sm text-white mt-2">Schedule a Demo Drive Today</p>
    </header>
    <footer class="flex flex-col flex-1 justify-end pb-20">
      <div>
        <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="#">Schedule a Demo</a>
      </div>
    </footer>

  </div>
  <video class="absolute top-0 bottom-0 object-center object-cover h-full w-full z-10" autoplay muted loop
    src="assets/video.webm"></video>
</section>