<section class="relative h-screen w-screen overflow-hidden text-center text-[var(--section-color)]">

  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-5xl text-current pt-48 font-medium ">
        <ng-content select="[title]"></ng-content>
      </h2>
      <p class="text-base text-current mt-2">
        <ng-content select="[subtitle]"></ng-content>
      </p>
    </header>
    <footer class="flex flex-col flex-1 justify-end pb-20">
      <div class="flex gap-x-2 justify-center">
        <ng-content select="[footer]"></ng-content>
      </div>
    </footer>

  </div>

  <ng-container *ngTemplateOutlet="media.type === 'video' ? video : image;
  context: {$implicit: media.url} || null ">
  </ng-container>

</section>

<ng-template #video let-url>
  <video class="absolute top-0 bottom-0 object-center object-cover h-full w-full z-10" [autoplay]="true" [muted]="true"
    [loop]="true" [src]="url">
  </video>
</ng-template>

<ng-template #image let-url>
  <img class="absolute top-0 bottom-0 object-center object-cover h-full w-full z-10" [src]="url" />
</ng-template>