<div class="about-of-me">
  <h1 class="title text-center">
    RAMON MARTINEZ
  </h1>
</div>

<div class="grid grid-flow-row-dense md:grid-cols-2 gap-4 w-full">

  <div class="card ">
    <h2>Quien soy</h2>
    <p>
      Desarrollador Frontend con 1 año de experiencia laboral, 3 años desde que empece a estudiar y a desarrollar
      componentes
      y aplicaciones utilizando el framework Angular +8 y versiones superiores (+15).
    </p>
  </div>

  <div class="card ">
    <h2>Stack</h2>
    <p>

      Tengo experiencia con: Angular Material, Angular CDK, RXJS, Javascript ES6+, Typescript, CSS, HTML, Docker,
      GIT,
      Strapi,
      Wordpress, Tailwind, Bootstrap, Ng Prime y AWS. Me enorgullece destacar mi capacidad para desarrollar código
      de
      manera
      excepcionalmente óptima, limpia y eficiente, con una especialización en el uso del framework Angular.
    </p>
  </div>


  <div class="md:col-span-2 text-center">
    <button class="inline-flex bg-gray-900 text-orange px-4 py-1.5 rounded-lg shadow-md ">
      <a href="https://www.linkedin.com/in/ramon-martinez-44051a126/" target="_blank" >
        Ver experiencia laboral en Linkedin
      </a>
    </button>
  </div>





</div>
