<!-- Content -->
<div class="grow md:flex space-y-8 md:space-y-0 md:space-x-8 pt-12 md:pt-16 pb-16 md:pb-20 min-h-screen">
  <!-- Middle area -->
  <div class="grow">
    <div class="max-w-2xl mx-auto">

      <section>
        <!-- Page title -->
        <h1 class="h1 font-aspekta mb-5">Hola, Soy Ramon Martinez <span
            class="inline-flex relative text-pri-600 before:absolute before:inset-0 before:bg-pri-200 dark:before:bg-pri-600 before:opacity-30 before:-z-10 before:-rotate-2 before:translate-y-1/4">RaimonxDev</span>
        </h1>
        <h2 class="h2 font-inter mb-5">Frontend Angular Developer 🤟</h2>

        <img
          class=" h-40 w-40 md:w-80 md:h-80 bg-slate-900 rounded-full border-b-8 border-pri-600 object-cover mx-auto bg-gradient-to-b dark:from-transparent dark:via-slate-900 dark:to-pri-700"
          src="assets/images/me.webp" alt="me" />

        <!-- Page content -->
        <div class="text-slate-500 dark:text-slate-400 space-y-8">
          <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Biografia</h2>
            <p class="">
              año de experiencia laboral, 3
              años desde que empeze a estudiar y a desarrollar componentes y aplicaciones utilizando el framework
              Angular
              +8 y
              versiones superiores (+15).
            </p>
          </div>
          <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-700 dark:text-slate-100">STACK</h2>
            <p>
              Tengo experiencia con: <span class="text-gray-900 font-bold">
                Angular Material, Angular CDK, RXJS, Javascript ES6+, Typescript,
                CSS, HTML,
                Docker, GIT, Strapi, Wordpress, Tailwind, Bootstrap, Ng Prime y AWS.
              </span>
              Me enorgullece destacar mi capacidad
              para
              desarrollar código de manera excepcionalmente óptima, limpia y eficiente, con una especialización en el
              uso del
              framework Angular.
            </p>
          </div>
          <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Experiencias</h2>
            <ul class="-my-2">
              <!-- Role -->
              <li class="relative py-2">
                <div class="flex items-start mb-1">
                  <div
                    class="absolute left-0 h-full w-px bg-slate-200 dark:bg-slate-800 self-start ml-[28px] -translate-x-1/2 translate-y-3"
                    aria-hidden="true"></div>
                  <div
                    class="absolute left-0 h-14 w-14 flex items-center justify-center border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 bg-gradient-to-b from-pri-300 to-pri-600 dark:bg-slate-900 rounded-full">
                    <span class="text-white dark:text-slate-400 font-bold">AC</span>
                  </div>
                  <div class="pl-20 space-y-1">
                    <div class="text-xs text-slate-500 uppercase">Jun 2022 <span
                        class="text-slate-400 dark:text-slate-600">·</span> Present</div>
                    <div class="font-aspekta font-[650] text-slate-800 dark:text-slate-100 text-pri">Frontend
                      Angular Developer
                    </div>
                    <div class="text-sm font-medium text-slate-800 dark:text-slate-100">AC-LABS - Modalidad: REMOTO
                    </div>
                    <div class="text-sm text-slate-500 dark:text-slate-400">

                      <ul class="marker:text-pri-500 list-disc [& li]:text-lg [&_li]:after:content-['.'] ">

                        <li>Sistema de autenticacion. Login, Registro, Recuperacion, etc</li>
                        <li>
                          Preparacion de entornos Dev, Staggin, Produccion
                        </li>
                        <li>Implementacion de Monorepo con NX</li>
                        <li>Lazy Loading y Multi lenguaje</li>
                        <li>Componentes Dinamicos, Directivas, Pipes</li>
                        <li>Formularios dinamicos controlados por un JSON</li>
                        <li>Manajedor de estado sin NGRX</li>
                        <li>Implementacion de Angular Material, CDK y tailwind</li>
                        <li>Apoyar a mis compañeros con code reviews</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>