<div class="max-w-[700px]">
  <div class="pt-8 pb-10">
    <div class="rounded-full mb-5 border-2 bg-gray-300 border-sky-500 h-16 w-16 overflow-hidden bg-cover">
      <img class="w-full" src="assets/images/me.png" alt="Me" />
    </div>
    <h1 class="h1 font-aspekta mb-5">Hola, Soy Ramon Martinez y este es mi <span
        class="inline-flex relative text-sky-500 before:absolute before:inset-0 before:bg-sky-200 dark:before:bg-sky-500 before:opacity-30 before:-z-10 before:-rotate-2 before:translate-y-1/4">portafolio</span>.
    </h1>
    <p class="text-lg text-slate-500 dark:text-slate-400">Soy un Desarrollador Web con 1 año de experiencia laboral,
      pero 3 años desde que empeze a desarrollar componentes y
      aplicaciones utilizando el framework Angular +8 y
      versiones superiores (+15). Apasionado por el código limpio y reutilizable, me esfuerzo constantemente por
      mantener un
      alto rendimiento en cada proyecto en el que trabajo. Además, tengo experiencia en la integración continua de
      nuevas
      funcionalidades..
    </p>
  </div>
</div>