<article class="relative pt-40 text-center text-white/90 overflow-hidden">
  <header class="w-[87.5%] lg:w-[980px] mx-auto">
    <p class="typography-chips-headline">Con los superpoderes <br>
      de los chips</p>

    <div class="gradient-container"></div>

    <!-- CHIPS -->
    <div class="flex justify-center -mt-4 text-[19px] font-bold">
      <div>
        <img src="assets/chips/m2_large_2x.png" alt="">
        <ul class="-mt-10 mx-auto">
          <li class="descriptions_chips bg-chip-m2">CPU de 8 núcleos</li>
          <li class="descriptions_chips bg-chip-m2">GPU de 10 núcleos</li>
          <li class="descriptions_chips bg-chip-m2">Hasta 24 GB de memoria unificada</li>
          <li class="descriptions_chips bg-chip-m2">100 GB/s de ancho de banda de memoria</li>
        </ul>

      </div>
      <div>
        <img src="assets/chips/m2_pro_large_2x.png" alt="">
        <ul class="-mt-10 mx-auto">
          <li class="descriptions_chips bg-chip-m2-pro">CPU de hasta 12 núcleos</li>
          <li class="descriptions_chips bg-chip-m2-pro">GPU de hasta 19 núcleos</li>
          <li class="descriptions_chips bg-chip-m2-pro">Hasta 32 GB de memoria unificada</li>
          <li class="descriptions_chips bg-chip-m2-pro">200 GB/s de ancho de banda de memoria</li>

        </ul>

      </div>
    </div>

    <p class="typography-badge-caption text-[#a1a1a6] mt-10 mx-auto mb-10">La nueva generación de chips de Apple hace
      que este sea <br> el Mac mini más potente hasta ahora, ideal para cargas de trabajo <br>
      pesadas. El chip M2 parece que vuela cuando disfrutas juegos <br>
      inmersivos o preparas presentaciones complejas, y el chip M2 Pro <br>
      arrasa con tareas imponentes, como edición de video ProRes 8K <br>
      o manipulación de imágenes de gran tamaño.</p>

    <!-- Conoce mas -->

    <div class="learn-more mx-auto mt-20">
      <button class="button-learn-more">
        <span class="content-button inline-flex gap-x-2 items-center"> Conoce el M2 y el M2 pro por dentro <svg
            class="group-hover:text-black h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg></span>
      </button>
    </div>
  </header>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</article>