<!-- Header -->
<raimonx-dev-header></raimonx-dev-header>
<!-- Hero -->

<!-- Content -->
<div class="relative grow md:flex space-y-8 md:space-y-0 md:space-x-8 pb-16 md:pb-20">

  <!-- Middle area -->
  <div class="grow">
    <div class="max-w-[700px]">
      <section>
        <raimonx-dev-profile-overview></raimonx-dev-profile-overview>
      </section>

      <section class="mt-16">
        <raimonx-dev-stack></raimonx-dev-stack>
      </section>

    </div>
  </div>

  <!-- Right sidebar -->
  <aside class="sticky top-0 pt-6 md:w-[240px] lg:w-[300px] shrink-0">
    <raimonx-dev-right-sidebar></raimonx-dev-right-sidebar>
  </aside>

</div>
