<main
  class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-center px-6 py-24 sm:py-64 lg:px-8 border border-dashed rounded-md mt-12">
  <h1 class="mt-4 text-7xl font-bold tracking-tight text-gray-900 dark:text-slate-100 sm:text-5xl"> 😐 En construcción
  </h1>
  <p class="mt-6 text-base leading-7 text-gray-600"></p>
  <div class="mt-10">
    <a [routerLink]="['/']" class="text-sm font-semibold leading-7 text-pri-700"><span aria-hidden="true">&larr;</span>
      Back to
      home</a>
  </div>
</main>