<div class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">

  <card>
    <ng-container title >Proyecto</ng-container>
    <div class="relative">
      <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
        <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="pointer-events-none object-cover group-hover:opacity-75">
      </div>

      <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">Nombre del proyecto</p>

      <p class="pointer-events-none block text-sm font-medium text-gray-500 mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur aut iste suscipit, consequatur ab culpa quo natus ullam atque? Dolor ad nulla perspiciatis cum sequi similique voluptate qui unde officia.</p>

      <button [matMenuTriggerFor]="menu" class="block rounded-md bg-pink-100 px-2 py-1 text-xs font-medium text-pink-700 mr-0 ml-auto mt-4">
        Detalles
      </button>
    </div>
  </card>
</div>

<mat-menu #menu="matMenu">
  <li>
      <a href="#" class="text-gray-700 hover:text-pink-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Demo</a>
  </li>
  <li>
      <a href="#" class="text-gray-700 hover:text-pink-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Codigo</a>
  </li>
</mat-menu>
