@use './styles/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-nav-global: #1d1d1f;
  --font-size-nav-global: 17px;
  --font-family: 'Roboto', sans-serif;
  --nav-global-height: 44px;
  --max-width-nav: 980px;
  --nav-local-height: 52px;
  --apple-link: #0071e3;
}
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-nav-global);
  font-family: var(--font-family);
  background-color: #000;
  overflow-x: hidden;
}

/* You can add global styles to this file, and also import other style files */
