<raimonx-dev-header></raimonx-dev-header>
<div class="max-w-7xl w-screen mx-auto">
  <div class="min-h-screen flex">
    <!-- Side navigation -->
    <div class="flex-shrink">
      <raimonx-dev-side-navigation></raimonx-dev-side-navigation>
    </div>

    <div class="flex flex-col md:flex-row flex-1">
      <main class="grow px-4">
        <div class="w-full h-full max-w-[1072px] mx-auto flex flex-col">
          <div class="flex-1">
            <router-outlet></router-outlet>
          </div>
          <raimonx-dev-right-sidebar class="md:hidden"></raimonx-dev-right-sidebar>
        </div>
      </main>

      <div class="hidden md:block md:w-[240px] lg:w-[300px] shrink-0">
        <raimonx-dev-right-sidebar></raimonx-dev-right-sidebar>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<raimonx-dev-footer></raimonx-dev-footer>
