<div
  class="sticky top-0 w-16 md:w-24 shrink-0 h-screen overflow-y-auto no-scrollbar border-r border-slate-200 dark:border-slate-800">
  <div class="h-full flex flex-col justify-between after:flex-1 after:mt-auto">
    <div class="flex-1"></div>
    <div class="flex-1 grow flex items-center">
      <nav class="w-full">
        <ul class="space-y-4">
          <li *ngFor="let navItem of navigation" class="py-2">
            <a [routerLink]="navItem.path" [routerLinkActive]="['after:bg-sky-500' , 'text-sky-500' ]"
              class=" w-full h-6 flex items-center justify-center relative after:absolute after:w-0.5 after:right-0 after:top-0 after:bottom-0 ">
              <span class="sr-only">{{navItem.title}}</span>
              <mat-icon [svgIcon]="navItem.icon"></mat-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>