<div class="md:sticky md:top-16 space-y-4 px-6 py-4 md:mt-10">
  <h3 class="h3">Contacto</h3>
  <p class="description">
    <span class="span-title">
      Github:</span> <a class="cursor-pointer" target="_blank" [href]="'https://github.com/raimonxdev'">
      Raimonxdev</a>
    <mat-icon (click)="copyToClipboard('url')" class="" [matTooltip]="'copy to clipboard'"
      [cdkCopyToClipboard]="'https://github.com/raimonxdev'" svgIcon="clipboard"></mat-icon>
  </p>
  <p class="description">
    <span class="span-title">Email:</span>
    <a class="cursor-pointer" href="mailto:hi@ramonmartinez.dev">hi@ramonmartinez.dev</a>
    <mat-icon (click)="copyToClipboard('email')" class="" [matTooltip]="'copy to clipboard'"
      [cdkCopyToClipboard]="'hi@ramonmartinez.dev'" svgIcon="clipboard"></mat-icon>
  </p>
  <br>
  <p class="description">
    <span class="span-title">Idioma:</span>Español.
  </p>
  <p class="description">
    <span class="span-title">País Residente:</span>Chile
  </p>
</div>