<raimonx-dev-hero-tesla></raimonx-dev-hero-tesla>
<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
  <div class="snap-center">
    <raimonx-dev-section-tesla>

    </raimonx-dev-section-tesla>
  </div>
</main>