<header class="sticky top-0 py-7">
  <nav class="navigation">
    <div class="nav-child">
      <a  [routerLink]="['./home']">
        <h1 class="logo-text">Ramon Martinez</h1>
      </a>
    </div>
    <ul class="navigation-list ">
      <li>
        <a [routerLinkActive]="'text-[var(--orange)]'" [routerLink]="['./home']" >Inicio</a>
        </li>
        <li>
        <a [routerLinkActive]="'text-[var(--orange)]'" [routerLink]="['./about']" >Sobre mi</a>
      </li>
      <li>
        <a [routerLinkActive]="'text-[var(--orange)]'" [routerLink]="['./projects']" >Proyectos</a>
      </li>
      <li>
        <button class="contact">
          <a href="#">
            Contacto
          </a>
        </button>
      </li>
    </ul>
    <!-- menu-mobile -->
    <button (click)="toggleMenu()" class="visible lg:hidden">
      <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-menu">
        <line x1="3" y1="12" x2="21" y2="12" />
        <line x1="3" y1="6" x2="21" y2="6" />
        <line x1="3" y1="18" x2="21" y2="18" />
      </svg>

    </button>
  </nav>

</header>


<div *ngIf="menuIsOpen()" @showMenu class="menu-mobile shadow-sm">
  <ul class="flex flex-col border-">
    <li [routerLinkActive]="'text-[var(--orange)]'" >
      <a  [routerLink]="['./home']" >Inicio</a>
    </li>
    <li [routerLinkActive]="'text-[var(--orange)]'">
      <a [routerLink]="['./about']" >Sobre mi</a>
    </li>
    <li >
      <a [routerLinkActive]="'text-[var(--orange)]'"
      [routerLink]="['./projects']">Proyectos</a>
    </li>
    <li>
      <button class="contact">
        <a href="#contact">
          Contacto
        </a>
      </button>
    </li>
  </ul>
</div>

<!-- backdrop -->
<div (click)="toggleMenu()" *ngIf="menuIsOpen()" @showMenuBackdrop class="bg-gray-600/20 absolute inset-0 lg:hidden z-10"></div>
