<div class="grid grid-cols-2 sm:grid-cols-6 sm:grid-rows-6 gap-2 sm:max-h-[600px]">

  <h2
    class="hidden sm:block sm:col-start-2 sm:col-span-4 sm:row-start-1 sm:row-span-1 text-6xl font-bold text-center text-pri-700">
    STACK</h2>
  <!-- angular -->
  <div class="max-h-max sm:col-start-3 sm:col-span-2 sm:row-start-3 sm:row-span-2 flex justify-center -rotate-4">
    <ng-container
      *ngTemplateOutlet="globes;  context: {$implicit: 'angular',  imageUrl: 'angular.svg' , customClass: ['h-16' ,'w-16', 'sm:w-full', 'sm:h-full'] }"></ng-container>
  </div>

  <!-- ts -->
  <div class="sm:col-start-3 sm:col-span-2 sm:row-start-2 flex justify-center">
    <ng-container
      *ngTemplateOutlet="globes;  context: {$implicit: 'typescript',  imageUrl: 'typescript.png'}"></ng-container>
  </div>
  <!-- rxjs -->
  <div class="sm:col-start-2 sm:row-start-3 sm:row-span-2 flex justify-center">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'rxjs',  imageUrl: 'rxjs.png'}"></ng-container>
  </div>
  <!-- js -->
  <div class="sm:col-start-3 sm:col-span-2 sm:row-start-5">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Javascript',  imageUrl: 'js.png'}"></ng-container>
  </div>
  <!-- css -->
  <div class="sm:col-start-5 sm:row-start-5">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Css',  imageUrl: 'css.png'}"></ng-container>
  </div>
  <!-- docker -->
  <div class="sm:col-start-1 sm:row-start-1">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'docker',  imageUrl: 'docker.png'}"></ng-container>
  </div>
  <!-- traefik -->
  <div class="sm:col-start-1 sm:row-start-6">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Traefik',  imageUrl: 'traefik.png'}"></ng-container>
  </div>
  <!-- html -->
  <div class="sm:col-start-2 sm:row-start-5">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'html',  imageUrl: 'html.png'}"></ng-container>
  </div>
  <!-- postgres -->
  <div class="sm:col-start-1 sm:row-start-3">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Postgres',  imageUrl: 'postgres.png'}">

    </ng-container>
  </div>
  <!-- react -->
  <div class="sm:col-start-6 sm:row-start-3">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'react',  imageUrl: 'react.png'}">

    </ng-container>
  </div>
  <!-- node -->
  <div class="sm:col-start-5 sm:row-start-3 sm:row-span-2 flex justify-center">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'node',  imageUrl: 'nodejs.png'}">

    </ng-container>
  </div>
  <!-- aws -->
  <div class="sm:col-start-3 sm:row-start-6">
    <ng-container
      *ngTemplateOutlet="globes;  context: {$implicit: 'aws',  imageUrl: 'aws.png', customClass: 'rounded-full dark:bg-gray-50 w-16 h-16'}">

    </ng-container>
  </div>
  <!-- digital ocean -->
  <div class="sm:col-start-4 sm:row-start-6">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Digital Ocean',  imageUrl: 'digital-ocean.png'}">
    </ng-container>
  </div>
  <!-- Wordpress -->
  <div class="sm:col-start-6 sm:row-start-1">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'wordpress',  imageUrl: 'wordpress.png'}">
    </ng-container>
  </div>
  <!-- Git -->
  <div class="sm:col-start-5 sm:row-start-2">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Git',  imageUrl: 'github.png'}">

    </ng-container>
  </div>
  <!-- Go -->
  <div class="sm:col-start-6 sm:row-start-6">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Go',  imageUrl: 'goland.png'}">

    </ng-container>
  </div>
  <!-- nest -->
  <div class="sm:col-start-2 sm:row-start-2">
    <ng-container *ngTemplateOutlet="globes;  context: {$implicit: 'Nest ',  imageUrl: 'nestsjs.svg'}">

    </ng-container>
  </div>


</div>

<ng-template #globes let-name let-imageUrl="imageUrl" let-customClass="customClass">
  <div class="flex flex-col justify-center items-center group ">
    <div [ngClass]="customClass || 'h-16 w-16'"
      class="overflow-hidden group-hover:scale-105 group-hover:-translate-y-4 ease-out transition-all">
      <img [src]="'assets/images/stack/' + imageUrl" [alt]="name" class="object-contain w-full h-full">
    </div>
    <p class="group-hover:text-pri-600 text-sm text-gray-500 dark:text-slate-100 capitalize font-bold">{{name}}</p>
  </div>
</ng-template>
