<div class="text-neutral-100 text-[1.06rem] leading-6 pt-44">
  <div class="z-10">
    <div class="mx-96">
      <h2 class="text-[5.00rem] leading-none font-bold mt-10">Versatilidad</h2>
      <p class="text-blue-300 basis-full text-[5.00rem] leading-none font-bold -mb-1">Nació listo para&nbsp;todo.</p>
      <p class="text-zinc-400 basis-3/4 text-[1.75rem] leading-8 font-medium mt-6">Por su rendimiento de nivel superior, amplia variedad de puertos y tamaño compacto, el Mac&nbsp;mini es <div class="text-blue-300">perfecto para una infinidad de tareas</div> y está listo para enfrentarse a lo que le&nbsp;pidas.
    </div>
  </div>

</div>
